/* Menu de gauche *****************************************************************************************************/
#block-menu-block-1{
  .caret{
    display: none;
  }
  .dropdown-menu{
    display: block;
    position: static;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: 0px 0px 0px 0px white;

  }
}