.beach-players{
  float: left;
  margin : 0 15px 0 0;
}
div.field-name-field-inscription a{
  background-color: @blue-mbv;
  color: white;
  padding: 5px 10px;
  display: block;
  text-align: center;
  width: 200px;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 5px 5px 5px 0px #656565;
  &:hover{
    background-color: @yellow-mbv;
    color: black;
  }
}